body {
  font-family: monospace;
  background: #e2e1e0;
  height: 100%;
  margin: 0;
  text-align: center;
}

/* Button hover */
.btn-default {
  transition: background-color 1s;
}

.btn-default:hover {
  background-color: #d6d6ff;
}

#main {
  text-align: left;
  margin-top: 10%;
}

#login {
  height: 100px;
  border-style: double;
  border-width: 2px;
  margin-bottom: 5%;
}

#login_left {
  margin-top: 2%;
}

.container button {
  float: right;
}

#error {
  color: red;
}

#track {
  margin-bottom: 2%;
}

a {
  color: #8585F8;
  margin: 0%;
  font-size: 15px;
}
