body {
  font-family: monospace;
  background: #e2e1e0;
  height: 100%;
  margin: 0;
  text-align: center;
}


.btn-default {
  transition: background-color 1s;
}

.btn-default:hover {
  background-color: #d6d6ff;
}

a {
  color: #8585F8;
}

#main {
  text-align: center;
  margin-top: 10%;
}

html {
  display:table;
  width:100%;
}

#login {
  height: 100px;
  border-style: double;
  border-width: 2px;
  margin-bottom: 5%;
}

.container button {
  float: right;
}

#login_left {
  text-align: justify;
  margin-top: 2%;
}

#error {
  color: red;
}

#track {
  margin-bottom: 2%;
}


#about {
  text-align: justify;
}

a {
  font-size: 15px;
}
