body {
  font-family: monospace;
  background: #e2e1e0;
  height: 100%;
  margin: 0;
}

#menu {
  margin-left: 5%;
  margin-top: 2%;
}

#menu h4, button {
  display: inline;
}

#menu button {
  margin-right: 4%;
  float: right;
  margin-bottom: 2%;

  transition: background-color 1s;
}

#menu button:hover {
  background-color: #d6d6ff;
}

.chapter-box {
  text-align: center;
  height: 150px;
  transition: background-color 1s;
}

.chapter-box:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #d6d6ff; # cute purple
}

#chapter_modal h4 {
  font-size: 12px;
  margin-left: 2%;
}

#chapter_modal p, a {
  font-size: 10px;
  margin-left: 2%;
  color: black;
}

#chapter_modal button {
  float: left;
  margin-left: 2%;
  margin-bottom: 2%;
}

#chapter_modal .row {
  margin-left: 2%;
  margin-right: 2%;
}
