<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>

        <title>UVa Competitive Programing Tracker</title>

        <!-- Libraries -->
        <script type='text/javascript' src='libs/jquery.js'></script>
        <script type='text/javascript' src='libs/angular.min.js'></script>

        <!-- Scripts -->
        <script type='text/javascript' src='main.js'></script>

        <!-- Style -->
        <link rel='stylesheet' type='text/css' href='main.css'>

	</head>

	<body ng-app="uvacp" ng-controller="uvacpCtrl">

		<nav class="{{active}}" ng-click="$event.preventDefault()">
			<p href="#" class="home">Insert here your UVA user name:</p>
            <input type='text' ng-model='user_name'</input>
            <a href='#'>Don't know your ID?</a>
		</nav>

		<input class="btn-primary" type="submit" value="submit" ng-click='submitChanges()'>
		<p>You chose <b>{{user_name}}</b></p>
		<p>{{myWelcome}}</p>

	</body>
</html>
